<h1>Welcome to the recipe database</h1>



<button><a href="/recipes/new">Add a new recipe</a></button>
<hr>
<button><a href="/ingredients/new">Add a new ingredient</a></button>
<hr>
<button><a href="/tags/new">Add a new tag</a></button>
