<h1>Here is a list of tags</h1>

<% if @tags.any?() %>
    <ul>
    <% @tags.each() do |tag| %>
      <li><a href="/tags/<%= tag.id() %>"><%= tag.name() %></a></li>
    <% end %>
    </ul>

<% else %>
    <h5>No tags added, please add tags</h5>
<% end %>


<form action="/tags" method="post">
  <label for="name">Name your tag</label>
  <input type="text" name="name">
  <button type="submit">Add this tag</button>

</form>
